<h3>Welcome!</h3>

<% if current_user %>
  <%= link_to 'new category', new_category_path, class: "btn btn-default" %>
  <%= link_to 'new post', new_post_path, class: "btn btn-default" %>
<% end %>

<%= render @posts %>
