<h2>Welcome!</h2>
<p>
<% if current_user %>
  <%= link_to 'new category', new_category_path, class: "btn btn-default" %>
  <%= link_to 'new post', new_post_path, class: "btn btn-default" %>
<% end %>
</p>

<div class="post-blocks">
  <%= render @posts %>
</div>
