// http://www.colourlovers.com/palette/15/tech_light
$palette-green: #D1E751;
$palette-dark: #000000;
$palette-light: #26ADE4;
$palette-white: #FFFFFF;
$palette-super-light: #4DBCE9;

body {
  font-family: 'Merriweather Sans', Verdana, Sans-Serif;
}

.navbar.navbar-inverse {
  // background-image: none;
  @include button-variant($palette-dark, $palette-green, $palette-white);
  border-radius: 0;
}

a.my-btn {
  // @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  @include button-variant($palette-dark, transparent, $palette-white);
  &:hover {
    text-decoration: none;
    color: $palette-white;
  }
}

.label,
.badge {
  margin: 0 0.875em 0.25em 0;
  padding: 0.375em 0.5em 0.375em;
  font-size: 0.875em;
  font-weight: normal;
  line-height: 1;
  position: relative;
  display: inline-block;
}

.label-default {
  background-color: $palette-dark;
  &:hover {
    background-color: $palette-green;
  }
}
.label-primary {
  background-color: $palette-green;
}
.label-all-default {
  background-color: $palette-dark;
  &:hover {
    background-color: #d9534f;
  }
}
.label-all-primary {
   background-color: #d9534f;
}

article {
  border: 1px solid;
  max-width: 500px;
  margin: 20px 0;
  padding: 10px;
}


.thumbnail {
  border: 2px solid $palette-dark;
  border-radius: 0%;
  display: inline-block;
  width: 100%;
/*  img {
    width: 100%;
  }*/
  &:hover {
    background-color: $palette-super-light;
    border-color: $palette-dark;
  }
  .caption {
    color: $palette-dark;
  }
}

.caption {
  h3 {
    font-size: 19px;
    padding: 2px;
    margin: 8px 0 4px;
  }
  h2 {
    font-size: 28px;
    padding: 3px;
    margin: 10px 0 6px;
  }
  p {
    font-size: 14px;
    padding: 0px;
  }
}

.comment-panel {
  display: inline-block;
  width: 100%;
  h4 {
    font-size: 18px;
    padding: 2px;
    margin: 6px 0 4px;
  }
}

.floats {
  display: inline-block;
  position: relative;
}

.vote-panel {
  width:52px;
  height:100%;
  margin-right:14px;
  margin-bottom:6px;
  float:left;
  display:inline;
  .panel-body {
    padding:8px;
    p {
      margin:0px;
    }
  }
}

.post-blocks {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

@media only screen and (max-width: 768px) {
  .post-blocks {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 2;
  }
}

@media only screen and (max-width: 480px) {
  .post-blocks {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

.comment-blocks {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

@media only screen and (max-width: 768px) {
  .comment-blocks {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
