body {
  font-family: 'Varela', 'Droid Sans', Verdana, Sans-Serif;
}

.label,
.badge {
  margin: 0 0.875em 0.25em 0;
  padding: 0.25em 0.5em 0.375em;
  font-size: 0.875em;
  font-weight: normal;
  line-height: 1;
  position: relative;
  display: inline-block;
}

article {
  border: 1px solid;
  max-width: 500px;
  margin: 20px 0;
  padding: 10px;
}


.thumbnail {
  display: inline-block;
  border: 2px solid;
  width: 100%;
/*  img {
    width: 100%;
  }*/
}

.post-blocks {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

@media only screen and (max-width: 768px) {
  .post-blocks {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (max-width: 480px) {
  .post-blocks {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
