<p class="category-name">
  <% if @category && category == @category %>
    <strong><%= link_to category.name, category %></strong>
  <% else %>
    <%= link_to category.name, category %>
  <% end %>
</p>
