<ul class="nav navbar-nav">
  <% if user_log_in? %>
    <li>
      <%= link_to 'logout', logout_path, method: :delete %>
    </li>
    <li>
      <%= link_to 'profile', user_path(session[:user_id]) %>
    </li>

  <% else %>
    <li>
      <%= link_to 'login', login_path %>
    </li>
    <li>
      <%= link_to 'register', register_path %>
    </li>

  <% end %>
</ul>

<ul class="nav navbar-nav navbar-right">
  <li><a href="#">Link</a></li>
</ul>

